* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 1px;
}

.row {
  flex: 1;
  display: flex;
}

.col {
  flex: 1;
}

.black {
  background: #000;
}

.white {
  background: #fff;
}

.red {
  background: #ff0000;
}
